---
import NewsItem from "../components/NewsItem.astro";
const {news = [{title: "There are no news"}]} = Astro.props;
---

<style>
 @import "../styles/bulma.min.css";
</style>

<div>
    {
    news.map(item => {
    return (
    <NewsItem src={item.imageUrl} url={item.linkUrl}>
	<span slot="title">
	    {item.title}
	</span>
	<span slot="author">
	    @{item.author.fields.username}
	</span>
	<span slot="date">
	    {item.date.substring(0, 10)}
	</span>
	<span slot="content">
	    {item.content}
	</span>
    </NewsItem>
    );
    })
    }
</div>
