---
import contentful from "contentful";
import Title from "./Title.astro";
const space = process.env.CONTENTFUL_SPACE_ID ?? import.meta.env.CONTENTFUL_SPACE_ID;
const accessToken = process.env.CONTENTFUL_DELIVERY_API_KEY ?? import.meta.env.CONTENTFUL_DELIVERY_API_KEY;

const client = contentful.createClient({
space: space,
accessToken: accessToken,
});

const enrolledPatients = await client.getEntry("78TOLnzeDAxvjhMRnnsK2I");
const { numberOfEnrolledPatients, dateAdded } = enrolledPatients.fields;
const totalEnrolledPatients = numberOfEnrolledPatients.reduce((a, b) => a + b, 0);
const targetSampleSize = 306;
console.log(enrolledPatients);
---

<style>
 a {
     text-decoration: underline;
     text-decoration-style: dashed;
 }

 a.button {
     text-decoration: none;
 }
</style>

<section class="hero is-medium is-dark">
    <div class="hero-body">
	<div class="container has-text-centered">
	    <Title text="Ongoing Pilot Trial" />
	    <h3 class="title">Enrolled Participants</h3>
	    <div class="box has-background-success">
		<h3 class="heading">Total</h3>
		<p class="title is-4">{totalEnrolledPatients}/{targetSampleSize}</p>
		<progress class="progress is-warning" value={totalEnrolledPatients} max={targetSampleSize}>{totalEnrolledPatients}</progess>
		    <h3 class="heading">Per Centre</h3>
		    <nav class="level">
			{numberOfEnrolledPatients
			.filter(item => item > 0)
			.map((item, key) => {
			return (
			<div key={key} class="level-item has-text-centered">
			    <p class="title is-4">
				{item}
			    </p>
			</div>
			)
			})}
		    </nav>
		    <h3 class="heading">Updated</h3>
		    <p class="title is-4">{new Date(dateAdded).toDateString()}</p>
	    </div>
	    <h3 class="title">More</h3>
	    <div class="buttons is-centered">
		<a class="button is-light is-outlined is-large is-rounded" href="https://bmjopen.bmj.com/content/12/4/e057504.full">Published Protocol</a>
		<a class="button is-light is-outlined is-large is-rounded" href="https://clinicaltrials.gov/ct2/show/NCT05417243">ClinicalTrials.gov Record</a>
	    </div>
	</div>
    </div>
</section>
